# Віртуальне середовище
venv/
.venv/
env/
news_app_only/

# Кеш Python
__pycache__/
*.py[cod]

# База даних SQLite та медіа-файли (якщо є)
*.sqlite3
db.sqlite3
media/

# Файли конфігурації та секретів
.env

# Налаштування IDE та ОС
.vscode/
.idea/
.DS_Store