<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="projects">
            <a href="/projects/summer/">Анімована веб-сторінкаm Summer</a>
        </div>
        <div class="projects">
            <a href="/projects/miami/">Слайсер на веб-сторінці</a>
        </div>
        <div class="projects">
            <a href="/projects/memory/">Game "Memory" </a>
        </div>
        <div class="projects">
            <a href="/projects/easter/">Анімована веб-сторінкаm Easter</a>
        </div>
    </main>
    
</body>
</html>